html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fff8f4;
  font-family: "Barlow Condensed", sans-serif;
  line-height: 1.4;
}
input:focus {
  outline: none;
}
header {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  width: 80vw;
  padding-top: 15px;
  text-align: center;
  color: rgb(133, 46, 46);
  text-transform: uppercase;
  font-size: calc(0.5vw + 5px);
  letter-spacing: 0.9px;
}
header div {
  height: 7px;
  width: 6%;
  background: rgb(20, 20, 20);
}
.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.keys {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 80vw;
  height: 35vh;
}
.blk,
.white {
  width: 100%;
  cursor: pointer;
}

.blk {
  height: 60%;
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (
    4% 5.5% 2.5% 5.5% 8% 5.5% 2.5% 5.5% 2.5% 5.5% 3% 4% 5.5% 2.5% 5.5% 8% 5.5%
      2.5% 5.5% 2.5% 5.5% 3%
  );
  grid-template-columns: repeat(
    2,
    4% 5.5% 2.5% 5.5% 8% 5.5% 2.5% 5.5% 2.5% 5.5% 3%
  );
  grid-template-areas: " .  db3  .  eb3  .  gb3  .  ab3  . bb3 . . db4 . eb4 . gb4 . ab4 . bb4 .";
}
.white {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
.blk div {
  background-color: rgb(49, 49, 49);
}
.white div {
  height: 100%;
  width: 6%;
  background-color: rgb(207, 132, 102);
}
#db3_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: db3;
}
#eb3_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: eb3;
}
#gb3_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: gb3;
}
#ab3_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 8;
  grid-area: ab3;
}
#bb3_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 10;
  grid-area: bb3;
}
#db4_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 13;
  grid-area: db4;
}
#eb4_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 15;
  grid-area: eb4;
}
#gb4_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 17;
  grid-area: gb4;
}
#ab4_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 19;
  grid-area: ab4;
}
#bb4_cont {
  -ms-grid-row: 1;
  -ms-grid-column: 21;
  grid-area: bb4;
}

.cover_board {
  background-color: rgb(226, 174, 140);
  overflow: hidden;
  position: relative;
  margin: 3vh auto 0 auto;
  width: 45vh;
  height: 45vh;
  -webkit-box-shadow: 3px 3px 2px 1px rgba(100, 100, 100, 0.205);
  box-shadow: 3px 3px 2px 1px rgba(100, 100, 100, 0.205);
}
#album {
  width: 60%;
  height: 20%;
  position: absolute;
  right: 0;
  top: 50%;
  background-color: rgb(231, 218, 218);
  z-index: 2;
}
#album div {
  color: rgb(255, 99, 8);
  text-transform: uppercase;
  font-family: "Squada One", "Helvetica";
  font-size: calc(0.5vw + 12px);
  letter-spacing: 1px;
  position: absolute;
  top: 50%;
  left: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
form {
  width: 70vw;
  margin: 1vh auto 0 auto;
  text-align: center;
}
label {
  font-size: calc(0.4vw + 12px);
  letter-spacing: 0.8px;
}
input {
  border: none;
  border-bottom: 1px solid orange;
  background: transparent;
  font-size: 0.6em;
  letter-spacing: 0.4px;
}
@media (max-width: 400px) {
  .keys {
    width: 95vw;
  }
  .cover_board {
    width: 40vh;
    height: 40vh;
  }
}
